attrs==18.2.0
Automat==0.7.0
Click==7.0
constantly==15.1.0
Flask==1.0.2
gunicorn==19.9.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
PyHamcrest==1.9.0
six==1.11.0
Twisted==18.9.0
Werkzeug==0.14.1
WTForms==2.2.1
zope.interface==4.6.0
