<!doctype html>
<html>
<head>
	<title>To-Do-List_Planner</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/todolist.css">
    <script src="../static/todolist.js"></script>
<body>
{% extends 'layout.html' %}
{% block body %}
<div id="overlay">
    <div id="spinner"></div>
</div>
<div class="container-fluid">
	<div id="container" class="row justify-content-center">
		<div class="col-12">
			<h3>
				Health & Fitness Planner<br>
				Plan your to-do-lists here
			</h3>
		</div>
        <div id="planner" class="col-12">
            <table id="todolist" class="table table-striped" border="1">
                <div class="content-section">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">{{ legend }}</legend>
                            <div class="form-group">
                                {{ form.datetime.label }}
                                {% if form.datetime.errors %}
                                    {{ form.datetime(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.datetime.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.datetime }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.description.label(class="form-control-label") }}
                                {% if form.description.errors %}
                                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.description.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.description(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.remarks.label(class="form-control-label") }}
                                {% if form.remarks.errors %}
                                    {{ form.remarks(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.remarks.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.remarks(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
            </table>
            <button class="btn btn-danger" data-toggle="modal" data-target="#calendar">Back to Calendar</button>
        </div>
	</div>
</div>
    {% for activity in Todos %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ activity.name.name }}</a>
              <small class="text-muted">{{ activity.date_posted.strftime('%x %T') }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ activity.description }}</a></h2>
            <p class="article-content">{{ activity.remarks }}</p>
              <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('update_todo') }}">Edit/Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteToDo">Delete</button>
          </div>
        </article>
        <!-- Modal -->
        <div class="modal fade" id="deleteToDo" tabindex="-1" role="dialog" aria-labelledby=deleteToDoLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteToDoLabel">Delete this To-Do?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Once delete all data will be erased!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_todo') }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="calendar" tabindex="-1" role="dialog" aria-labelledby=calendarLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="calendarLabel">Are you sure you want to leave this page?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Once you leave, any unsaved inputs will be erased!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{{ url_for('back_to_calendar') }}" method="POST">
                            <input class="btn btn-danger" type="submit" value="Leave">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>
